body {
  background-color: rgb(207, 198, 187);
  display: flex;
  flex-direction: column;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~項目清單~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.navi {
  position: fixed;
  z-index: 10000;
  top: 0px;
  left: 0px;
  display: flex;
  width: 100%;
  background-color: white;
}

.navi ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}
.navi ul li {
  position: relative;
  right: 30px;
  top: 10px;
  list-style: none; /* 去除項目清單的小黑點 */
  text-align: center;
  background-color: transparent;
  padding: 10px;
}

.navi ul li a {
  color: rgb(75, 72, 72); /* 文字為brown色 */
  text-decoration: none; /* 文字沒有裝飾（底線） */
  border-radius: 6px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 0;
}
.navi ul li a:hover {
  box-shadow: 10px 10px 15px rgb(189, 157, 157);
  color: rgb(158, 106, 126);
  transition: all 1s ease;
}

/* ---------------------- Main content----------------------------- */
.setOnCenterVertical {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-content {
  width: 100%;
}
.mainweb-header div {
  width: 35%;
}
.main-content p {
  color: rgb(75, 72, 72);
}
.brownItalicWords {
  margin-top: 40px;
  color: rgb(75, 72, 72);
  font-style: italic;
  font-family: cursive;
  font-weight: lighter;
}

/* ---------------------- NewsCarousel----------------------------- */
.carousel-item img {
  border-radius: 10px;
  display: flex;
  margin: auto;
}
#NewsCarousel a {
  /* margin: 0 12.5rem; */
}
.carousel-indicators {
  bottom: 1.2rem;
}
#NewsCarousel p {
  padding-top: 1rem;
  text-align: center;
}
/* ---------------------- 商品種類PRODUCTS----------------------------- */
.product-catergory div {
  margin-bottom: 50px;
}
/* <!-- -----background-attachment固定背景效果---------------------------------- --> */

.fixed-bg {
  background-image: url("./pic/1.jpg");
  background-color: rgb(207, 198, 187, 1);
  background-blend-mode: overlay;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~Footer~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.social_footer_ul {
  list-style-type: none;
}
.social_footer_ul li {
  margin-right: 2rem;
  font-size: 28px;
}
.social_footer_ul li:nth-child(1) {
  position: relative;
  bottom: 1.2rem;
}
footer {
  padding: 2rem 0 0rem 0;
  width: 100%;
  background-color: white;
  color: rgb(75, 72, 72);
  text-align: center;
}
